<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <h1 id="header">Phone Number Formatter</h1>
  <div id="container">
    <div>
      <div id="row">
            <label for="phone-number">Phone Number : </label><br><br>
            <select id="code" [(ngModel)]="code" (change)="placeholderData()" size="1" required>

                <option  *ngFor="let details of numberDetails" >+{{details.code}}</option>
            </select>
            <input type="tel" id="phone-number" placeholder={{place_holder}} [(ngModel)]= "number">
        </div>
        <div id="row">
            <button id="submit" (click)="get()">Submit</button>
        </div>
        <div id="row">
            <div id="result" [innerHTML]="result">
                 
            </div>
        </div>
        
    </div>
  </div>
</body>
</html>